<?xml version="1.0" encoding="utf-8"?>
<!--
  Adds a Desktop shortcut to the MSI installer produced by Tauri's WiX bundler.
  Referenced from tauri.conf.json -> bundle.windows.wix.fragmentPaths and
  componentRefs ("DesktopShortcutComponent").
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="DesktopShortcutComponent" Guid="6e3a1f37-9f60-4a2e-9b14-2c0a0a1f5d10">
        <Shortcut Id="ApplicationDesktopShortcut"
                  Directory="DesktopFolder"
                  Name="PointLens"
                  Description="Launch PointLens"
                  Target="[!Path]"
                  WorkingDirectory="APPLICATIONFOLDER" />
        <RegistryValue Root="HKCU"
                       Key="Software\PointLens"
                       Name="DesktopShortcutInstalled"
                       Type="integer"
                       Value="1"
                       KeyPath="yes" />
        <RemoveFolder Id="DesktopFolder" Directory="DesktopFolder" On="uninstall" />
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
